@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;600&display=swap');

:root {
  --primarycolor: #192537;
  --secundarycolor: #b09e80;
  --writing: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'JetBrains Mono', monospace;
}

body {
  background-color: var(--primarycolor);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.barbershop-container {
  background-color: var(--secundarycolor);
  padding: 2rem;
  border-radius: 10px;
  width: 500px;
  text-align: center;
}

.barbershop-container h2 {
  color: var(--primarycolor);
  margin-bottom: 20px;
}

.barbershop-list {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

.barbershop-list li {
  background-color: var(--primarycolor);
  color: var(--writing);
  margin: 8px 0;
  padding: 10px;
  border-radius: 5px;
}

.back-button {
  padding: 10px 15px;
  background-color: gray;
  color: var(--writing);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.barbershop-list button {
  margin-top: 10px;
  padding: 8px 16px;
  background-color: var(--secundarycolor);
  color: var(--primarycolor);
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.barbershop-list button:hover {
  background-color: var(--writing);
  color: var(--primarycolor);
}
