@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

:root {
  --primarycolor: #192537;
  --secundarycolor: #b09e80;
  --writing: #ffffff;
  --hover: #6e6351;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  box-sizing: border-box;
}

body {
  background-color: var(--primarycolor);
  font-family: 'JetBrains Mono', monospace;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.dashboard-container {
  background: rgba(255, 255, 255, 0.05);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  text-align: center;
  max-width: 600px;
  width: 100%;
}

.dashboard-container h1 {
  color: var(--secundarycolor);
  border-bottom: 2px solid var(--secundarycolor);
  padding-bottom: 10px;
  margin-bottom: 25px;
}
.dashboard-container h1 span {
  color: var(--writing);
}
.dashboard-content ul {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  list-style: none;
}

.dashboard-content ul li {
  background-color: var(--secundarycolor);
  color: var(--primarycolor);
  padding: 15px;
  border-radius: 8px;
  font-weight: bold;
  transition: 0.3s;
  cursor: pointer;
}
.dashboard-content ul li:hover{
  background-color: var(--hover);
}
li a {
  color: var(--primarycolor);
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

li a:hover {
  color: var(--primarycolor);
}

.logout-button {
  background-color: var(--secundarycolor);
  border-radius: 5px;
  padding: 8px 15px;
  color: var(--primarycolor);
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
.logout-button:hover { 
  background-color: var(--hover);
}
